<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="867ef4">  <td>20/05/03 04:40:22</td>   <td>0</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:Testscript.StandardOrderOnnet@4fb61f4a]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1954406292</td>   <td></td> </tr>
<tr bgcolor="867ef4">  <td>20/05/03 04:40:29</td>   <td>7442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:Testscript.StandardOrderOnnet@4fb61f4a]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@125367502</td>   <td></td> </tr>
</table>
