<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CPQ End to End Order</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8168b5">  <td>20/07/03 16:17:57</td>   <td>0</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:Testscript.StandardOrderOnnet@1d16f93d]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>20/07/03 16:18:08</td>   <td>11018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:Testscript.StandardOrderOnnet@1d16f93d]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>PoolService-0@499362703</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>20/07/03 16:18:08</td>   <td>11019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.setup(java.lang.String)[pri:0, instance:Testscript.StandardOrderOnnet@1d16f93d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>PoolService-0@499362703</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>20/07/03 16:18:27</td>   <td>30104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StandardOrderOnnet.EndtoEndOrder([[Ljava.lang.Object;)[pri:0, instance:Testscript.StandardOrderOnnet@1d16f93d]">EndtoEndOrder</td> 
  <td>PoolService-0@499362703</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>20/07/03 16:41:56</td>   <td>1439110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.Teardown2()[pri:0, instance:Testscript.StandardOrderOnnet@1d16f93d]">&lt;&lt;Teardown2</td> 
<td>&nbsp;</td>  <td>PoolService-0@499362703</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>20/07/03 16:41:57</td>   <td>1439838</td> <td title="&lt;&lt;DriverTestcase.sendmail()[pri:0, instance:Testscript.StandardOrderOnnet@1d16f93d]">&lt;&lt;sendmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
</table>
